<!--Add Buger-->
<div class="row">
  <div class="col-4">
  <form>
    <div class="form-group">
      <label for="burger-desc">Add New Burger</label>
      <input type="text" class="form-control" id="burger-desc" placeholder="Ex. Cheese Burger">
    </div>
    <button class="btn btn-secondary" id="save">Add Burger</button>
  </form>
  </div>
  <!--Existing burgers-->
  <div class="col-4">
    Available
    <ul>
    {{#each burger}}
    {{#unless eaten}}
      <li>{{burger_desc}}&nbsp;
        <!--<i class="fas fa-hamburger" burger-id="{{burger_id}}"></i>-->
        <button class="btn btn-secondary eat" burger-id="{{burger_id}}"><i class="fas fa-hamburger"></i></button>
      </li>
    {{/unless}}

    {{/each}}
    </ul>
  </div>
  <!--Eaten burgers-->
  <div class="col-4">
    Devoured
    <ul>
    {{#each burger}}
    {{#if eaten}}
      <li>{{burger_desc}}
        <button class="btn btn-secondary delete" burger-id="{{burger_id}}"><i class="fas fa-trash"></i></button>
      </li>
    {{/if}}

    {{/each}}
    </ul>
  </div>
</div>